<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div>
    <h3>Список пользователей:</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Mail</th>
    </tr>
    <tr th:each="msg:${listUsers}">
        <th th:text="${msg.getName()}"></th>
        <th th:text="${msg.getLastName()}"></th>
        <th th:text="${msg.getMail()}"></th>
        <td>
            <a th:href="@{/{id}/edit(id=${msg.getId()})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/{id}/remove(id=${msg.getId()})}">Delete</a>
        </td>

    </tr>
</table>
<h3>Добавить нового пользователя:</h3>
<form method="POST" action="/">

    <p>
        Input name:     <input name="name" type="text" size="40">
    </p>
    <p>
        Input last name:<input name="lastName" type="text" size="40">
    </p>
    <p>
        Input mail:      <input name="mail" type="text" size="40">
    </p>
    <p><input type="submit" value="Send">
        <input type="reset" value="Clear"></p>

</form>



    <h3>
    <a th:href="@{'/logout'}">Выйти</a>
    </h3>
</div>
</body>
</html>