<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<h3>Список пользователей:</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Mail</th>
    </tr>
    <tr th:each="msg:${users}">
        <th th:text="${msg.getName()}"></th>
        <th th:text="${msg.getLastName()}"></th>
        <th th:text="${msg.getMail()}"></th>
    </tr>
</table>


<h3>
<a th:href="@{'/login'}">Войти</a>
</h3>
</body>
</html>