<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User list</title>
</head>
<body>
<h3>Ваши данные:</h3>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Mail</th>
    <th>Authority</th>
    <th>Username</th>

  </tr>
  <tr>
    <th th:text="${user.getName()}"></th>
    <th th:text="${user.getLastName()}"></th>
    <th th:text="${user.getMail()}"></th>
    <th th:text="${user.getAuthorities()}"></th>
    <th th:text="${user.getUsername()}"></th>

  </tr>
</table>
<h3>
  <a th:href="@{'/logout'}">Выйти</a>
</h3>

</body>
</html>